In [1]:
import pandas as pd

# understanding DataFrames and Series, the two primary data structures in Pandas.

In [19]:
series=pd.Series([1, 2, 3, 4, 5])
print(series)
# DataFrame
data=[['Navya',28],['Sanjana',38],['Harika',60]]
df=pd.DataFrame(data, columns=['Name','Age'])
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64
      Name  Age
0    Navya   28
1  Sanjana   38
2   Harika   60

# reading from a file

In [31]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Employee_details_dataset.csv')

In [32]:
print(df)

      Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3   34    Male          No
1     Bachelors         2013       Pune            1   28  Female          No
2     Bachelors         2014  New Delhi            3   38  Female          No
3       Masters         2016  Bangalore            3   27    Male          No
4       Masters         2017       Pune            3   24    Male         Yes
...         ...          ...        ...          ...  ...     ...         ...
4648  Bachelors         2013  Bangalore            3   26  Female          No
4649    Masters         2013       Pune            2   37    Male          No
4650    Masters         2018  New Delhi            3   27    Male          No
4651  Bachelors         2012  Bangalore            3   30    Male         Yes
4652  Bachelors         2015  Bangalore            3   33    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4648                          4           0
4649                          2           1
4650                          5           1
4651                          2           0
4652                          4           0

[4653 rows x 9 columns]

# operations such as selecting data, filtering rows

In [34]:
data={'Name': ['rohit', 'karthik', 'uday'], 'Age': [24, 27, 22]}
df=pd.DataFrame(data)
# Selecting a column
print(df['Name'])
# Selecting multiple columns
print(df[['Name', 'Age']])
# Selecting rows by index
print(df.iloc[0])
print(df.iloc[-1])
# Filtering rows
filter=df[df['Age'] > 25]
print(filter)

0      rohit
1    karthik
2       uday
Name: Name, dtype: object
      Name  Age
0    rohit   24
1  karthik   27
2     uday   22
Name    rohit
Age        24
Name: 0, dtype: object
Name    uday
Age       22
Name: 2, dtype: object
      Name  Age
1  karthik   27

#  Data Handling with pandas

In [38]:
df=pd.read_csv('tested.csv')

# Handling missing data
print("DataFrame before handling missing values:")
print(df)
print("\n")

df.fillna(0, inplace=True)
print("DataFrame after filling missing values with 0:")
print(df)
print("\n")

df.drop_duplicates(inplace=True)
print("DataFrame after removing duplicates:")
print(df)
print("\n")

# Data type conversions
print("DataFrame before data type conversion:")
print(df.dtypes)
print("\n")

DataFrame before handling missing values:
     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292   NaN        Q
1                363272    7.0000   NaN        S
2                240276    9.6875   NaN        Q
3                315154    8.6625   NaN        S
4               3101298   12.2875   NaN        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500   NaN        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500   NaN        S
416              359309    8.0500   NaN        S
417                2668   22.3583   NaN        C

[418 rows x 12 columns]


DataFrame after filling missing values with 0:
     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   0.0      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   0.0      0      0
417                      Peter, Master. Michael J    male   0.0      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292     0        Q
1                363272    7.0000     0        S
2                240276    9.6875     0        Q
3                315154    8.6625     0        S
4               3101298   12.2875     0        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500     0        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500     0        S
416              359309    8.0500     0        S
417                2668   22.3583     0        C

[418 rows x 12 columns]


DataFrame after removing duplicates:
     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   0.0      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   0.0      0      0
417                      Peter, Master. Michael J    male   0.0      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292     0        Q
1                363272    7.0000     0        S
2                240276    9.6875     0        Q
3                315154    8.6625     0        S
4               3101298   12.2875     0        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500     0        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500     0        S
416              359309    8.0500     0        S
417                2668   22.3583     0        C

[418 rows x 12 columns]


DataFrame before data type conversion:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

# Data analysis with pandas

Summary statistics of the employee dataset:
        Education  JoiningYear       City  PaymentTier          Age Gender  \
count        2764  2764.000000       2764  2764.000000  2764.000000   2764
unique          3          NaN          3          NaN          NaN      2
top     Bachelors          NaN  Bangalore          NaN          NaN   Male
freq         1971          NaN       1171          NaN          NaN   1529
mean          NaN  2015.090449        NaN     2.636035    30.952967    NaN
std           NaN     1.885943        NaN     0.624001     5.108872    NaN
min           NaN  2012.000000        NaN     1.000000    22.000000    NaN
25%           NaN  2013.000000        NaN     2.000000    27.000000    NaN
50%           NaN  2015.000000        NaN     3.000000    30.000000    NaN
75%           NaN  2017.000000        NaN     3.000000    35.000000    NaN
max           NaN  2018.000000        NaN     3.000000    41.000000    NaN

       EverBenched  ExperienceInCurrentDomain   LeaveOrNot
count         2764                2764.000000  2764.000000
unique           2                        NaN          NaN
top             No                        NaN          NaN
freq          2403                        NaN          NaN
mean           NaN                   2.644356     0.393632
std            NaN                   1.610610     0.488643
min            NaN                   0.000000     0.000000
25%            NaN                   1.000000     0.000000
50%            NaN                   2.000000     0.000000
75%            NaN                   4.000000     1.000000
max            NaN                   7.000000     1.000000

TypeError: agg function failed [how->mean,dtype->object]

In [39]:
print("Summary statistics of the Titanic dataset:")
print(df.describe(include='all'))
print("\n")

# Grouping by
grouped_by_sex=df.groupby('Sex')[['Age', 'Fare']].mean()

print("Mean Age and Fare by Sex:")
print(grouped_by_sex)
print("\n")

# Grouping by
survival_rate=df.groupby(['Pclass', 'Sex'])['Survived'].mean()

print("Survival Rate by Passenger Class and Sex:")
print(survival_rate)
print("\n")

# Creating a new DataFrame with additional data
additional_data = pd.DataFrame({
    'PassengerId': [1, 2, 3, 4, 5],
    'CabinClass': ['First', 'Second', 'Third', 'First', 'Third']
})

# Merging
merged_df=pd.merge(df, additional_data, left_on='PassengerId', right_on='PassengerId', how='left')
print("Merged DataFrame (with additional data):")
print(merged_df.head())
print("\n")

Summary statistics of the Titanic dataset:
        PassengerId    Survived      Pclass              Name   Sex  \
count    418.000000  418.000000  418.000000               418   418
unique          NaN         NaN         NaN               418     2
top             NaN         NaN         NaN  Kelly, Mr. James  male
freq            NaN         NaN         NaN                 1   266
mean    1100.500000    0.363636    2.265550               NaN   NaN
std      120.810458    0.481622    0.841838               NaN   NaN
min      892.000000    0.000000    1.000000               NaN   NaN
25%      996.250000    0.000000    1.000000               NaN   NaN
50%     1100.500000    0.000000    3.000000               NaN   NaN
75%     1204.750000    1.000000    3.000000               NaN   NaN
max     1309.000000    1.000000    3.000000               NaN   NaN

               Age       SibSp       Parch    Ticket        Fare  Cabin  \
count   418.000000  418.000000  418.000000       418  418.000000  418.0
unique         NaN         NaN         NaN       363         NaN   77.0
top            NaN         NaN         NaN  PC 17608         NaN    0.0
freq           NaN         NaN         NaN         5         NaN  327.0
mean     24.044258    0.447368    0.392344       NaN   35.541956    NaN
std      17.599608    0.896760    0.981429       NaN   55.867684    NaN
min       0.000000    0.000000    0.000000       NaN    0.000000    NaN
25%       9.000000    0.000000    0.000000       NaN    7.895800    NaN
50%      24.000000    0.000000    0.000000       NaN   14.454200    NaN
75%      35.750000    1.000000    0.000000       NaN   31.471875    NaN
max      76.000000    8.000000    9.000000       NaN  512.329200    NaN

       Embarked
count       418
unique        3
top           S
freq        270
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN


Mean Age and Fare by Sex:
              Age       Fare
Sex
female  25.293355  49.747699
male    23.330489  27.424389


Survival Rate by Passenger Class and Sex:
Pclass  Sex
1       female    1.0
        male      0.0
2       female    1.0
        male      0.0
3       female    1.0
        male      0.0
Name: Survived, dtype: float64


Merged DataFrame (with additional data):
   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked CabinClass
0   330911   7.8292     0        Q        NaN
1   363272   7.0000     0        S        NaN
2   240276   9.6875     0        Q        NaN
3   315154   8.6625     0        S        NaN
4  3101298  12.2875     0        S        NaN

# Application in Data Science

Pandas is one of the most widely used libraries in data science due to its powerful data manipulation and analysis capabilities. Here are some key applications of Pandas in data science:

1. Data Cleaning and Preprocessing
Handling Missing Data: Pandas provides functions like dropna(), fillna(), and interpolate() to handle missing data efficiently. This is crucial because real-world datasets often have missing or incomplete entries that need to be addressed before analysis.
Data Transformation: Pandas allows for easy transformation of data, such as converting data types, normalizing or standardizing values, and creating new columns based on existing data. These transformations are vital for preparing data for machine learning models.
Removing Duplicates: The drop_duplicates() function helps in removing duplicate records, which can skew analysis results if left unchecked.
2. Exploratory Data Analysis (EDA)
Summary Statistics: Using functions like describe(), mean(), median(), and std(), Pandas helps in quickly generating descriptive statistics that give an overview of the datas distribution and central tendencies.
Data Visualization: While Pandas is not a visualization library, it integrates well with libraries like Matplotlib and Seaborn, allowing for easy creation of plots like histograms, bar charts, and box plots directly from DataFrames. This aids in identifying patterns, trends, and outliers.
Correlation Analysis: With the corr() function, Pandas allows you to compute pairwise correlation between features, which is essential for understanding relationships between variables in your dataset.
3. Data Wrangling
Merging and Joining Datasets: Pandas provides powerful functions like merge() and join() to combine datasets based on common keys or indexes, enabling complex data manipulations needed when working with relational data.
Grouping and Aggregation: Functions like groupby() and agg() allow for grouping data based on specific criteria and applying aggregate functions like sum, mean, or count. This is especially useful in summarizing large datasets by categories, such as sales data by region or time period.
Pivot Tables: Pandas enables the creation of pivot tables using the pivot_table() function, which is invaluable for restructuring and summarizing data, similar to Excel pivot tables but with more flexibility.
4. Time Series Analysis
Resampling: Pandas supports time series data through functions like resample(), which allows for changing the frequency of your time series data (e.g., from daily to monthly), and rolling(), which provides rolling window calculations for moving averages or other statistics.
DateTime Handling: Pandas makes it easy to work with date and time data through its DateTimeIndex, parsing dates from strings, and performing time zone conversions. This is crucial in industries like finance, where time series data is prevalent.
5. Data Input and Output
Reading and Writing Files: Pandas supports a wide range of data formats, including CSV, Excel, SQL databases, JSON, and more. The read_* and to_* functions make it easy to load data into DataFrames from various sources and export the results after processing.
Web Scraping: Pandas can be used in conjunction with libraries like BeautifulSoup or Scrapy to scrape data from websites and directly load it into DataFrames for analysis.
6. Machine Learning Integration
Feature Engineering: Pandas is frequently used for creating new features from existing data, such as combining columns, encoding categorical variables, or calculating statistical metrics. These features can then be fed into machine learning models.
Data Preparation for Modeling: Before feeding data into machine learning algorithms, it needs to be cleaned, normalized, and split into training and testing sets. Pandas streamlines this process, ensuring that data is in the correct format and free of inconsistencies.
7. Financial Analysis
Portfolio Analysis: In finance, Pandas is used to calculate returns, risk metrics, and portfolio optimization. Its essential for handling time series data, calculating cumulative returns, and analyzing the performance of different assets.
Risk Management: Pandas can be used to model various risk scenarios, calculate Value at Risk (VaR), and simulate financial events using historical data.
8. Scientific Research
Data Modeling and Simulation: In scientific research, Pandas is often used for data modeling, where researchers simulate experiments or model natural processes. It supports complex calculations and data transformations required in various scientific domains.
Reproducible Analysis: With Pandas, researchers can easily document and reproduce their data analysis workflows, ensuring transparency and consistency in their work.
9. Text Data Processing
Tokenization and Cleaning: While Pandas itself is not a natural language processing (NLP) tool, it is often used in preprocessing text data. Tasks like tokenization, stop word removal, and word frequency analysis can be performed on text data within DataFrames.
Sentiment Analysis: Pandas can be used to manage and analyze text data for sentiment analysis, where text is converted into numerical data that can be analyzed or fed into machine learning models.

In summary, Pandas is an essential tool in data science for its robust data manipulation, cleaning, analysis, and preparation capabilities, making it indispensable for professionals working with data in various fields.